
<form class="ui form container mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Create an Account</h3>

  <app-input [control]="f?.get('username')" label="username" placeholder="Please Enter Username"></app-input>
  <app-input [control]="f?.get('password')" label="password" type="password" placeholder="Please Enter Password"></app-input>
  <app-input [control]="f?.get('passwordConfirmation')" label="passwordConfirmation" type="password" placeholder="Please Confirm Password"></app-input>

  <ng-container *ngIf="showErrorPasswordDontMatch()">
    <div class="ui pointing red basic label" style="margin-bottom: 5px;" *ngIf="form?.hasError('passwordDontMatch')">Please enter the same password</div>
    <div class="ui pointing red basic label" style="margin-bottom: 5px;" *ngIf="form?.hasError('noConnection')">Please check your network</div>
    <div class="ui pointing red basic label" style="margin-bottom: 5px;" *ngIf="form?.hasError('unknownError')">unknown Error</div>


  </ng-container>

  <button [disabled]="form.invalid" class="ui button green" style="margin-top: 5px; display: block;" type="submit"> Create Account</button>
</form>