
<form class="ui form container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Create an Account</h3>
  <div class="field">
    <label>Username</label>
    <input type="text" formControlName="username" placeholder="Please Enter Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Please Enter Password">
  </div>
  <div class="field">
    <label>Confirm Password</label>
    <input type="password" formControlName="passwordConfirmation" placeholder="Please Enter Confirm Password">
  </div>
  <button class="ui button" type="submit"> Create Account</button>
</form>

{{form.errors | json}}