
<form class="ui form container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Create an Account</h3>

  <app-input [control]="f?.username" label="username" placeholder="Please Enter Username"></app-input>
  <app-input [control]="f?.password" label="password" type="password" placeholder="Please Enter Password"></app-input>
  <app-input [control]="f?.passwordConfirmation" label="passwordConfirmation" type="password" placeholder="Please Confirm Password"></app-input>

  <button class="ui button green" style="margin-top: 5px;" type="submit"> Create Account</button>
</form>

{{form.controls?.username?.errors | json}}